:root {
  --black: #171321;    
  --yellow: #F2B705;
  --orange: #D98E04;
  --copper: #A65D03;
  --pink: #D98989;
  --bbypink: #F2D0D0;
  --white: #f7f8fa;
  --bluenavy: #295073;
  --aqua:#517C8C;
  --font-size: 1.1rem;
  --main-font: "Libre Baskerville", serif;
  --secondary-font: "Source serif 4", serif;
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* generic styles for the page */
body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  color: var(--pink);
  text-decoration: none;
  
}

a:hover {
  color: var(--orange);
  text-decoration: none;
}

img{
/*Esto es para hacer mas pequenia la imagen y que use el 100% del espacio del div*/
width: 100%;
}

p{
font-family: var(--secondary-font);
}

/*Sin este color el cuadro con la contact section era muy pequenio y el resto del color era otro, un cuadro
dentro de otro. Entonces todo lo que este dentro de este div tendra este color y no se notara la diferencia. Esto
puede resolver para lograr que algo este al centro dentro de otro contenedor*/
.contact-section{
background-color: var(--bluenavy);
}

.project-section{
background-color: var(--aqua);
}

.gradient{
background: linear-gradient(90deg, rgba(217,137,137,1) 0%, rgba(242,208,208,1) 35%, rgba(242,183,5,1) 100%);
height: 4px;
}



/* intro styles */
#intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
  font-size: 1rem;
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
  font-weight: 300;
}

#intro h2 {
  font-size: 4rem;
}

/* contact section */

#contact {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}

#contact p{
font-size: 90%;
}

#contact p:last-child {
  margin-top: 3rem;
}

nav{
font-family: var(--secondary-font);
/*Esto shrinks the fontsize to an 80%*/
font-size: 80%;
padding: 1rem;
}

nav h1 a{
font-family: var(--main-font);
}

nav ul{
margin: 0;
padding: 0;
list-style-type: none; 
display: flex;  
/*Esto junta absolutamente en una sola linea*/
flex-flow: row wrap;
justify-content: center;
/*Esto se pone en el centro del cuadro como en Excel*/
align-items: center;
gap: 2rem;

}

nav li:first-child {
flex-basis: 100%;
text-align: center;
margin-right: auto;

}

nav [class*="fa-"]{
font-size:150%;
color: var(--pink);
}

nav h1 [class*="fa-"]{
font-size: 115%
}

nav a {
color: var(--white);
text-decoration: none;
display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
color: var(--orange);
}

.button{
background-color: var(--orange);
color: var(--white);
padding: 0.5rem;
border-radius: 5px;
}

.button:hover{
color: var(--white);
background-color: var(--pink);
}

footer{
 text-align: center;
 padding: 4rem 0;
}

footer ul{
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 1.75rem;
}

/*Project section*/
#projects{
padding: 4rem 1rem;
}

#projects h2{
font-size: 2.5rem;
margin-bottom: calc(2.5rem * 1.5);
}

#projects h3{
color: var(--orange);
}

#projects h4{
font-size: 1rem;
font-size: var(--secondary-font);
margin: 0;
}

.blackbox{
background-color: var(--bluenavy);
padding: 1rem;
border-radius: 15px;
color: var(--white);
font-size: 1rem;
line-height: 1.5;
}

#projects ul{
list-style-type: none;
padding: 0;
margin: 0;
/*Esto los pone en una sola linea*/
display: flex;
flex-flow: row wrap;
justify-content: flex-start;
gap: 1rem;
font-size: 1rem;
font-family: var(--secondary-font);
}

#projects img{
margin: 2rem 0 4rem 0;
border-left: 3px solid var(--orange);
border-top: 3px solid var(--orange);
border-radius: 25px;
padding: 1rem;
}

@media(min-width: 550px){

article{
  display: grid;
  /*1fr es 1 fraction, es decir que si tiene dos fractions, usa solo 1  
  grid-template-columns: 1fr 1fr;*/
  grid-template-columns: repeat(10, 1fr);
  
  gap: 1rem;
  
}

#projects {
  max-width: 1200px;
  margin: 0 auto;
}

#projects img{
  grid-column: 1/6;
  grid-row: 1/2;
}

.text{
  /*La imagen no tiene orden porque no es un text entonces automaticamente queda de primera*/
  /*Al sobrepasarse de las columnas por haber puesto /11 entonces queda en dos filas el resto de las columnas que se sobrepasaron se ponen en la misma fila con grid-row: 1/2;    
  */
  grid-column: 5/11;    
  grid-row: 1/2;
  order: 2;
  /**/
  text-align: right;
  
}

#projects ul{
  /*Al principio los ul estaban al start con flex entonces se cambia al end*/
  justify-content: flex-end;
}

#projects .reverse .text{
  grid-column: 1/7;
  /*El order no afectaba tanto entonces lo quite*/
  text-align: left;  
  
}

#projects .reverse img{
  grid-column: 6/11;
  grid-row: 1/2; 
}

#projects .reverse ul{
  justify-content: flex-start;
}
}

@media (min-width: 850px) {
nav {
  max-width: 1200px;
  margin: 0 auto;
}
nav li:first-child {
  flex-basis: auto;
  text-align: left;
  margin-right: auto;
}
}